fastapi
uvicorn
sqlalchemy
python-dotenv
requests
pydantic
python-multipart
watchfiles

spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

transformers
tokenizers

numpy

--extra-index-url https://download.pytorch.org/whl/cpu
torch

pyspellchecker
langdetect

groq

opencv-python
opencv-python-headless
