# ===============================
# Core API
# ===============================
fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv
requests
matplotlib
# ===============================
# Data & Utilities
# ===============================
numpy
pandas
scipy
joblib

# ===============================
# Audio & Signal Processing
# ===============================
soundfile
ffmpeg-python

# ===============================
# Whisper STT
# ===============================
torch
ctranslate2
faster-whisper

# ===============================
# NLP
# ===============================
spacy
langdetect

# ===============================
# LLM
# ===============================
groq

# ===============================
# spaCy English Model
# ===============================
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
